* {
  font-family: 'Open Sans', sans-serif;
}

body { margin: 0 10%; }

h1 { color: darkred; }

ul.nav {
  margin: 0;
  padding: 0;
  background-color: darkred;
}

ul.nav li { display: inline; }

ul.nav li a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
}

ul.nav li a:hover {
  background-color: #555;
  transition: 0s;
}

ul.nav li a.active {
  color: darkred;
  background-color: #FFF;
  font-weight: bold;
}

ul.nav li:hover {
  background-color: #555;
  transition: 0s;
}

img {
  border: 0px;
  border-style: solid;
  margin: 0px 20px;
  float: none;
}


th {
  color: white;
  background-color: darkred;
}

th, td {
  text-align: left;
  padding: 3px 15px;
}

td.trcell, td.facell, td.uicell {
  font-weight: bold;
}

td.trcell { color: green;   }
td.facell { color: red;     }
td.uicell { color: #ffc107; }
